[mysqld]
skip-host-cache
skip-name-resolve
max_allowed_packet = 1024M
user               = mysql
#datadir            = /var/lib/mysql
sync_binlog        = 0
wait_timeout = 300

#Inno DB Stuff
innodb_log_file_size           = 134217728
innodb_log_buffer_size         = 8388608
innodb_flush_log_at_trx_commit = 0
innodb_buffer_pool_size = 6072M

# Caching
query_cache_limit  = 16M
query_cache_size   = 64M
query_cache_type   = on

innodb_use_native_aio=0